@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

$main-dark: #2C3E50;
$main: #2980B9;
$main-light: #3498DB;
$second: #E74C3C;
$bg-dark: #1E1E20;
$bg-light: #F1EEEC;
$gradient: linear-gradient(135deg, #3498db 1%,#2c3e50 100%);


$main-padding: 50px;

p, h2, h4, h5 {
  font-family: 'Lato', sans-serif;
}

h1, h3, .item_price {
  font-family: 'Playfair Display', serif;
}

h3 {
  font-size: 3rem;
  padding-bottom: 20px;
}

p {
  letter-spacing: 1.1px;
}

hr {
  border-bottom: 1px dashed;
}

.small-collapse {
  padding: 0 15px;
}

.top-bar {
  position: fixed;
  top:0;
  padding: 0;
  width: 100%;
  background: white;
  z-index: 9000;
  .row {
    width:79rem;
    max-width: 85rem;
  }
  .logo {
    color: $main-dark;
    text-transform: uppercase;
    .circle {
      position: absolute;
      width: 100px;
      height: 100px;
      background-image: url("../img/perlablue.png");
      background-size: contain;
      border-radius: 100%;
      margin-top: 10px;
    }
    h1 {
      padding-left: 120px;
      padding-top: 10px;
      font-weight: 400italic;
      text-transform: capitalize;
    }
  }
  .title-bar-right {
    padding: 15px 0;
    color: rgba($bg-dark, 0.5);
    p {
      margin:0;
    }
  }
}

.about-modal {
  background: white;
  .row {
    margin: 10% auto 0 auto;
    .about_img {
      img {
        width: 100%;
        padding-top: 20px;
      }
    }
    strong {
      color: $main;
    }
    br {
      margin-bottom: 20px;
    }
  }
  .close-button {
    color: $main;
    font-size: 5rem;
    margin-top: 50px;
  }
}
.hero {
  margin-top:100px;
}
.intro {
  background: $bg-dark;
  color: $bg-light;
  padding: $main-padding $main-padding*3;
  .button {
    color: $main;
  }
  .just_text {
    text-align: justify;
  }
}

.menu {
  .menu_wrap {
    display: flex;
    align-items: stretch;
    .menu_image {
      background-image: url("../img/inside.png");
      background-size: cover;
      width: 50%;
    }
    .menu_list {
      padding: $main-padding !important;
      background: $bg-light;
      width: 50%;
      h4 {
        font-size: 1.2rem;
      }
      .item_price {
        margin-bottom: 30px;
        text-align: right;
        font-style: italic;
      }
    }
  }
}

.about {
  background: $bg-dark;
  color: $bg-light;
  padding: $main-padding $main-padding*3;
  p {
    text-align: justify;
  }
  strong {
    color: $main;
  }
}

.thumbs {
  .column {
    position: relative;
    img {
      filter: grayscale(80%);
      transition: all 0.7s ease;
    }
    .overlay {
      background: rgba($main,0.4);
      position: absolute;
      top: 0;
      left:0;
      height: 100%;
      width:100%;
      transition: all 0.7s ease;
    }
    &:hover {
      cursor: pointer;
      img {
        filter: grayscale(0%);
      }
      .overlay {
        background: rgba($main, 0);
      }
    }
  }
}

.map {
  height: 500px;
}
.slider-img {
  display: flex;
  img {
    object-fit: cover;
    width: 100%;
  }
}
.footer {
  background: $bg-dark;
  color: $bg-light;
  padding: $main-padding $main-padding*1.5;
  h5 {
    border-bottom: 1px dashed rgba($bg-light,0.4);
    padding-bottom: 10px;
    width: 50%;
    margin: 0 auto 20px auto;
  }
  label {
    color: $bg-light;
  }
  .button {
    width: 100%;
    background: $main;
    transition: all 0.7s ease;
    &:hover {
      background: darken($main, 10);
    }
  }
  .social .row {
    width: 50%;
    margin: 0 auto;
    padding: 0;
    svg {
      fill: $bg-light;
      transition: all 1s easy-ease;
      &:hover {
        fill: $main;
        transition: all 1s easy-ease;
      }
    }
  }
}
