@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400italic,400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

$main-dark: #2C3E50;
$main: #2980B9;
$main-light: #3498DB;
$second: #E74C3C;
$bg-dark: #1E1E20;
$bg-light: #ECF0F1;

$main-padding: 50px;

p, h2, h4, h5 {
  font-family: 'Lato', sans-serif;
}

h1, h3, .item_price {
  font-family: 'Playfair Display', serif;
}

h3 {
  font-size: 3rem;
}

hr {
  border-bottom: 1px dashed;
}

.small-collapse {
  padding: 0 15px;
}

.top-bar {
  position: fixed;
  top:0;
  padding: 0;
  margin-left: 11%;
  width: 100%;
  background: white;
  .logo {
    color: $main-dark;
    text-transform: uppercase;
    .circle {
      position: absolute;
      min-width: 50px;
      min-height: 50px;
      background: $main;
      border-radius: 100%;
      margin-top: 10px;
    }
    h1 {
      padding-left: 60px;
      font-weight: 400italic;
      text-transform: capitalize;
    }
  }
}
.hero {
  margin-top:100px;
  display: flex;
  img{
    object-fit: cover;
    width: 100%;
  }
}
.about {
  background: $bg-dark;
  color: $bg-light;
  padding: $main-padding $main-padding*3;
  .button {
    color: $main;
  }
}

.menu {
  .menu_wrap {
    display: flex;
    align-items: stretch;
    .menu_image {
      background-image: url("../img/inside.png");
      background-size: cover;
      width: 50%;
    }
    .menu_list {
      padding: $main-padding !important;
      background: $bg-light;
      width: 50%;
      h4 {
        font-size: 1.2rem;
      }
      .item_price {
        margin-bottom: 30px;
        text-align: right;
        font-style: italic;
      }
    }
  }
}

.map {
  height: 400px;
}

.footer {
  background: $bg-dark;
  color: $bg-light;
  padding: $main-padding $main-padding*1.5;
  h5 {
    border-bottom: 1px dashed rgba($bg-light,0.4);
    padding-bottom: 10px;
    width: 50%;
  }
  label {
    color: $bg-light;
  }
  .button {
    width: 100%;
    background: $main;
  }
  .social .row {
    width: 70%;
    padding: 0;
    svg {
      fill: $bg-light;
      transition: all 1s easy-ease;
      &:hover {
        fill: $main;
        transition: all 1s easy-ease;
      }
    }
  }
}
