<section class="about-modal full reveal" id="about" data-reveal data-animation-in="slide-in-up" data-animation-out="slide-out-down">
  <div class="row">
    <div class="small-12 medium-6 columns about_img"><img src="{{root}}/assets/img/about.png" alt=""></div>
    <div class="small-12 medium-6 columns">
      <h3>Hi There</h3>
      <p>Als Gastgeber pflegen wir den persönlichen Gästekontakt und sind bestrebt, mit einem ehrlichen Angebot aus Küche und Keller und aussergewöhnlicher Dienstleistung zu überzeugen.<br>Im Mai 1999 haben Mentor Don Corleone und sein Vater Tony Montana das Restaurant Pizzeria <strong>La Perla Blu</strong> in Basel eröffnet.<br>Seither ist das <strong>La Perla Blu</strong> bekannt für seine konstante Qualität und Freundlichkeit.<br>Am Wochenende können Sie für Familienfeiern, Taufen, Hochzeiten, Konfirmationen, Geburtstage und vieles mehr bei uns reservieren. Wochentags bietet das <strong>La Perla Blu</strong> eine "gutbürgerliche Gourmetküche" in ruhiger Atmosphäre.</p>
    </div>
  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</section>
