<section class="intro text-center small-collapse">
  <h3>WELCOME</h3>
  <p class="just_text">The Bistro <strong>La Perla Blu</strong> in Basel offers something to satisfy every hunger. We treat you in our rustic locale with Pizze, Pasti and a sortiment of specialities from Sicily. Am Wochenende können Sie für Familienfeiern, Taufen, Hochzeiten, Konfirmationen, Geburtstage und vieles mehr bei uns reservieren. Wochentags bietet das La Perla Blu eine "gutbürgerliche Gourmetküche" in ruhiger Atmosphäre.</p><br>
  <button type="button" class="hollow button" data-open="about">About us</button>
  <hr>
  <h5>Opening Hours</h5>
  <p>Monday to Friday - 09:00 - 22:00<br>Saturday to Sunday - 08:00 - 03:00</p>
</section>
