<section class="menu">
  <div class="menu_wrap">
    <div class="menu_image"></div>
    <div class="menu_list">
      <h3>Our Menu</h3>
      <hr>
      <div class="item">
        <h4 class="item_title">MUSHROOM BRUSCHETTA</h4>
        <p class="item_desc">Ricotta, rosemary & lemon</p>
        <p class="item_price">CHF 5.75</p>
      </div>
      <div class="item">
        <h4 class="item_title">RICOTTA BRUSCHETTA</h4>
        <p class="item_desc">Balsamic-roasted cherry tomatoes, Colwick cheese & basil</p>
        <p class="item_price">CHF 7.50</p>
      </div>
      <div class="item">
        <h4 class="item_title">CARONATA BRUSCHETTA</h4>
        <p class="item_desc">Spiced aubergine, hard ricotta & pine nuts</p>
        <p class="item_price">CHF 6.50</p>
      </div>
      <div class="item">
        <h4 class="item_title">CHICKEN LIVER BRUSCHETTA</h4>
        <p class="item_desc">Smooth Italian paté with pancetta, vin santo & Parmesan</p>
        <p class="item_price">CHF 8.50</p>
      </div>
      <div class="item">
        <h4 class="item_title">CRISPY CHICKEN</h4>
        <p class="item_desc">With crushed garlic mayo, chopped chilli & lemon</p>
        <p class="item_price">CHF 9.95</p>
      </div>
      <div class="item">
        <h4 class="item_title">FRESH CRAB BRUSCHETTA</h4>
        <p class="item_desc">Dressed with finely sliced fennel, lemon & chilli</p>
        <p class="item_price">CHF 6.70</p>
      </div>
      <hr>
    </div>
  </div>
</section>
