<section class="thumbs">
  <div class="row small-up-2 medium-up-4 small-collapse">
    <div class="column"><img class=""  src="{{root}}/assets/img/outside-thumb.png" alt=""><div class="overlay"></div></div>
    <div class="column"><img class=""  src="{{root}}/assets/img/toast-thumb.png" alt=""><div class="overlay"></div></div>
    <div class="column"><img class=""  src="{{root}}/assets/img/wine-thumb.png" alt=""><div class="overlay"></div></div>
    <div class="column"><img class=""  src="{{root}}/assets/img/coffee-thumb.png" alt=""><div class="overlay"></div></div>
  </div>
</section>
